@model IEnumerable<BiluthyrningAB.Models.Rental>

@{
    ViewData["Title"] = "Hyr bil";
}

@section Hero{

    <div class="hero">
    </div>

    @{ int count = 1;}

    <div class="container" style="margin-top: -1900px;">
        <div class="row">
            <div class="col-sm-10">
                <div class="text-block">
                    <div class="text-block-text">
                        <h2>Bokningar för: @Model.Select(x => x.Customer.FirstName + " " + x.Customer.LastName).First() </h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RentalId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @count
                                            @{ count++;}
                                        </td>
                                        <td>
                                            @item.StartDate.ToShortDateString()
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.RentalId" class="btn btn-outline-info">Ändra</a>
                                            <a asp-action="Details" asp-route-id="@item.RentalId" class="btn btn-outline-info">Detaljer</a>
                                            <a asp-action="Delete" asp-route-id="@item.RentalId" class="btn btn-outline-info">Ta bort</a>
                                        </td>
                                        <td>
                                            @if (item.Ongoing == true)
                                            {
                                                <a asp-action="FinishBooking" asp-route-id="@item.RentalId" class="btn btn-success">Slutför</a>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.Price)
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div>
                            <a asp-action="Index">Gå tillbaka</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
